p {
    font-size: 14pt;
    color: black;
    text-align: center;
    font-style:oblique;

}

body {
    background-color: lightseagreen;
    background-image: url('Ronaldo2.jpg');
    background-size: cover;
}

.button{
    text-align: right;
    color: pink;
    font-size: 20px;
    padding:20px;
    text-decoration: none;
    border-radius: 20px;
}

#header {
    font-size: 15px;
    font-weight: bold;
    font-style: oblique;
    color: blue;
    text-align: Center;
    text-decoration-line:underline;
    text-decoration-color: black;


}

* {
    margin: 0;
    padding: 2ew;
}

a[target="_blank"] {
    text-decoration: underline;
}

p em {
    font-style: italic;
}

ul>li {
    list-style-type:square;
}

button:not(.disabled) {
    background-color: white;
    color: #0f0;
}

button:active {
    color:aqua;
}

button:hover {
    background-color:red;
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: purple;
}
.news {
    background-color: lightblue;
    margin:5px; 
    padding: 5px;
    border-radius: 5px; 
}
.news [lang="en"]
{
    background-color:rgb(208, 255, 0);
    color:white;
}