body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("check2.jpg");
    background-size: cover;


}

.container {
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
}

.task-input {
    display: flex;
    margin-top: 10px;
}

input[type="text"] {
    flex-grow: 1;
    padding: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ddd;
}

.completed {
    text-decoration: line-through;
}